* {
	margin: 0;
	padding: 0;
	border: none;
	
	font-family: 'Open Sans', sans-serif;
	
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
	background-color: #000;
	color: #fff;
	
	min-height: 100% !important;
}
body {
	padding-top: 30px;
	padding-left: 15px;
	padding-right: 15px;
}
.darkBG {
	background-color: #000;
	color: #fff;
}
.lightBG {
	background-color: #fff;
	color: #000;
}

ul, pre {
	margin-left: 35px;
}

p.title {
	padding-top: 20px;
	
	font-weight: 300;
}
.headline {
	font-size: 18pt;
	
	margin-top: 50px;
}
.light {
	font-weight: 300;
	font-size: 12pt;
}
.superlight {
	font-weight: 300;
	font-size: 8pt;
}
.footer{
	margin-top: 50px;
	padding-bottom: 50px;
}

div.importantNotice {
	position: fixed;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 30px;
	
	background-color: #f0a30a;
	
	text-align: center;
	
	z-index: 999;
}
div.importantNotice p {
	color: #fff;
	
	line-height: 30px;
}
table {
	width: 100%;
	
	border: 3px solid #fff;
}
table th, td {
	width: 20%;
	
	font-size: 10pt:
}
table td {
	padding-left: 10px;
	
	font-size: 8pt;
}
table tr > th:not(:last-child), table tr > td:not(:last-child) {
	border-right: 1px solid #fff;
}
table tr:nth-child(even) {
	background-color: #212021;
}
.lightBG table {
	border-color: #000;
}
.lightBG table tr > th:not(:last-child), .lightBG table tr > td:not(:last-child) {
	border-color: #000;
}
.lightBG table tr:nth-child(even) {
	background-color: #dedfde;
}
p.title-category {
	font-weight: 700;
	font-size: 11pt;
	padding-top: 10px;
	padding-left: 15px;
	text-transform: uppercase;
}