/* UI Elements, dark background */

button.metro {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	min-width: 100px;
	height: 32px;
	border: 3px solid #fff;
	background-color: #000;
	color: #fff;
	font-size: 11pt;
	cursor: pointer;
}
button.metro:active {
	color: #fff;
}
button.metro:disabled, button.metro:active:disabled {
	opacity: 0.3;
	background-color: transparent;
	cursor: default;
}

input.metro[type="checkbox"] {
	position: absolute;
	opacity: 0;
	width: 0px;
	height: 0px;
}
div.metro.checkbox {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 65px;
	height: 22px;
	border: 3px solid #fff;
	cursor: pointer;
}
div.metro.checkbox.rightLabel {
	margin-left: 160px;
}
div.metro.checkbox.disabled {
	opacity: 0.3;
	cursor: default;
}
div.metro.checkbox .innerCheckbox {
	position: relative;
	margin: 4px;
	width: 0px;
	height: 14px;
	-webkit-transition: width .1s ease-out;
	transition: width .1s ease-out;
	-moz-transition: width .1s ease-out;
}
div.metro.checkbox label {
	position: relative;
	top: -22px;
	left: 160px;
	height: 100%;
}
div.metro.checkbox.rightLabel label {
	left: -160px;
}
div.metro.checkbox.checked .innerCheckbox {
	width: 57px;
}
div.metro.checkbox .innerCheckbox:after {
	content: "";
	position: absolute;
	left: -10px;
	top: -14px;
	width: 13px;
	height: 36px;
	background-color: #fff;
	border: 3px solid #000;
	-webkit-transition: left .1s ease-out;
	transition: left .1s ease-out;
	-moz-transition: left .1s ease-out;
	z-index: 2;
}
div.metro.checkbox.checked .innerCheckbox:after {
	left: 48px;
}
div.notificationWrapper {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	perspective: 1000px;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
}
div.notification {
	/* background-color: #f0a30a; */
	height: 40px;
	left: 0;
	padding-left: 75px;
	position: fixed;
	text-align: left;
	top: 0;
	transform: rotateX(90deg);
	transition: -webkit-transform .3s ease-out, opacity .2s ease-out;
	-webkit-transform: rotateX(90deg);
	-webkit-transition: -webkit-transform .3s ease-out. opacity .2s ease-out;
	-moz-transform: rotateX(90deg);
	-moz-transition: -moz-transform .3s ease-out, opacity .2s ease-out;
	width: 100%;
	z-index: 999;
	color: #fff;
	cursor: pointer;
	opacity: 0;
}
div.notification img.notifyImage {
	position: absolute;
	bottom: 6px;
	left: 15px;
	width: 20px;
	height: 20px;
}
div.notification.slideIn {
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	opacity: 1;
}
div.notification.slideOut {
	transition: -webkit-transform .2s ease-in, opacity .2s ease-in;
	-webkit-transition: -webkit-transform .2s ease-in. opacity .2s ease-in;
	-moz-transition: -moz-transform .2s ease-in, opacity .2s ease-in;
	transform: rotateX(-90deg);
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	opacity: 1;
}
div.notification span {
	font-size: 10pt;
}
div.notification span.sender {
	font-weight: 600;
	line-height: 50px;
	margin-right: 10px;
	margin-left: -25px;
	max-width: 250px;
}
div.notifcation span.message {
	font-weight: 300;
	line-height: 50px;
	margin-right: 15px;
}

div.alertWrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	perspective: 1000px;
	-moz-perspective: 1000px;
	-webkit-perspective: 1000px;
	min-height: 200px;
	z-index: 998;
}
div.alert {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 62px;
	background-color: #212021;
	opacity: 0;
	transform: rotateX(90deg);
	transition: transform .2s ease-out, opacity .2s ease-out;
	-moz-transform: rotateX(90deg);
	-moz-transition: -moz-transform .2s ease-out, opacity .2s ease-out;
	-webkit-transform: rotateX(90deg);
	-webkit-transition: -webkit-transform .2s ease-out, opacity .2s ease-out;
}
div.alert.rotateIn {
	transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	opacity: 1;
}
div.alert.rotateOut {
	transition: -webkit-transform .2s ease-in, opacity .2s ease-in;
	-webkit-transition: -webkit-transform .2s ease-in. opacity .2s ease-in;
	-moz-transition: -moz-transform .2s ease-in, opacity .2s ease-in;
	transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	-webkit-transform: rotateX(-90deg);
	opacity: 1;
}
div.alert button.metro {
	margin-top: 0;
	margin-left: 10px;
	padding: 0;
	width: 140px;
	background: transparent;
}
div.alert p.alertTitle {
	padding-top: 20px;
	padding-left: 15px;
	font-size: 15pt;
	font-weight: 600;
}
div.alert p.alertContent {
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 11pt;
	font-weight: 400;
}
div.alert div.buttons {
	float: right;
	margin-top: 30px;
	margin-right: 15px;
	margin-bottom: 10px;
}
div.alertBG {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 900;
	opacity: 0.5;
}
div.closeBox {
	cursor: pointer;
	background-repeat: no-repeat;
	position: absolute;
	top: 22px;
	right: 15px;
	width: 30px;
	height: 30px;
	border: 2px solid #fff;
	border-radius: 30px;
	background-color: #000;
}
div.accentColorPickerUI {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 998;
}
div.tilesWrapper {
	position: absolute;
	left: 50%;
	margin-left: -160px;
	width: 320px;
	height: 100%;
	background-color: #212021;
	z-index: 998;
	padding-top: 20px;
}
div.tile {
	position: absolute;
	width: 65px;
	height: 65px;
	opacity: 0;
	cursor: pointer;
	transform: rotateX(90deg);
	transition: transform .2s ease-out, opacity .15s ease-out;
	-moz-transform: rotateX(90deg);
	-moz-transition: transform .2s ease-out, opacity .15s ease-out;
	-webkit-transform: rotateX(90deg);
	-webkit-transition: -webkit-transform .2s ease-out, opacity .15s ease-out;
}
div.tilesWrapper.rotateIn .tile {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
}
div.tilesWrapper.rotateOut .tile {
	transition: -webkit-transform .2s ease-in, opacity .15s ease-in;
	-webkit-transition: -webkit-transform .2s ease-in. opacity .15s ease-in;
	-moz-transition: -moz-transform .2s ease-in, opacity .15s ease-in;
	opacity: 0;
	-webkit-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
}
div.metro.list {
	position: relative;
	width: 290px;
	height: 32px;
	border: 3px solid #fff;
	margin-top: 5px;
	overflow: hidden;
	-webkit-transition: height .2s ease-in-out;
	cursor: pointer;
}
div.metro.list .currentAccent {
	margin-top: 9px;
	margin-left: 5px;
	width: 15px;
	height: 15px;
	cursor: default;
}
div.metro.list p {
	height: 32px;
	line-height: 32px;
	padding-left: 5px;
	cursor: pointer;
	transition: height .2s ease-in-out, line-height .2s ease-in-out, margin-top .2s ease-in-out;
	-moz-transition:  height .2s ease-in-out, line-height .2s ease-in-out, margin-top .2s ease-in-out;
	-webkit-transition: height .2s ease-in-out, line-height .2s ease-in-out, margin-top .2s ease-in-out;
}
div.metro.list.extended p {
	height: 42px;
	line-height: 42px;
}
div.metro.list.accent p {
	color: #fff;
}
div.metro.list.accentBorder {
	background-color: #fff;
	color: #000;
}
div.metro.list p.currentAccentColor {
	font-weight: 400;
	height: 32px;
	line-height: 32px;
	padding-left: 30px;
	float: left;
}

/* UI Elements, light background */

.lightBG button.metro {
	background-color: #fff;
	border: 3px solid #000;
	color: #000;
}
.lightBG button.metro:active {
	color: #fff;
}

.lightBG div.metro.checkbox {
	border: 3px solid #000;
}
.lightBG div.metro.checkbox .innerCheckbox:after {
	background-color: #000;
	border-color: #fff;
}

.lightBG div.alert {
	background-color: #dedfde;
}
.lightBG div.alert p {
	color: #000;
}

.lightBG div.tilesWrapper {
	background-color: #dedfde;
}
.lightBG div.closeBox {
	filter: invert(100%);
	-webkit-filter: invert(100%);
	-moz-filter: invert(100%);
}
.lightBG div.metro.list {
	border-color: #000;
	color: #000;
}