/* UI Elements, dark background */

button.metro {
	margin-top: 10px;
	margin-bottom: 10px;

	min-width: 100px;
	height: 36px;
	
	background-color: #000;
	border: 3px solid #fff;

	color: #fff;
	font-size: 11pt;
	
	cursor: pointer;
}
button.metro:active {
	color: #fff;
	background-color: #f0a30a;
}
button.metro:disabled, button.metro:active:disabled {
	opacity: 0.3;
	
	background-color: transparent;
	
	cursor: default;
}
input.metro[type="checkbox"] {
	position: absolute;
	opacity: 0;
	width: 0px;
	height: 0px;
}
div.metro.checkbox {
	margin-top: 20px;
	margin-bottom: 20px;

	width: 65px;
	height: 22px;

	border: 3px solid #fff;
	
	cursor: pointer;
}
div.metro.checkbox.disabled {
	opacity: 0.3;
	
	cursor: default;
}
div.metro.checkbox .innerCheckbox {
	position: relative;

	background-color: #f0a30a;
	
	margin: 4px;
	width: 0px;
	height: 14px;
	
	-webkit-transition: width .1s ease-out;
	transition: width .1s ease-out;
}
div.metro.checkbox.checked .innerCheckbox {
	width: 57px;
}

div.metro.checkbox .innerCheckbox:after {
	content: "";
	
	position: absolute;
	left: -10px;
	top: -14px;
	
	width: 13px;
	height: 36px;
	
	background-color: #fff;
	
	border: 3px solid #000;

	-webkit-transition: left .1s ease-out;
	transition: left .1s ease-out;
	
	z-index: 2;
}
div.metro.checkbox.checked .innerCheckbox:after {
	left: 48px;
}


/* UI Elements, light background */

.lightBG button.metro {
	background-color: #fff;
	border: 3px solid #000;
	
	color: #000;
}
.lightBG button.metro:active {
	color: #fff;
	background-color: #f0a30a;
}

.lightBG div.metro.checkbox {
	border: 3px solid #000;
}
.lightBG div.metro.checkbox .innerCheckbox:after {
	background-color: #000;
	
	border-color: #fff;
}